[submodule "vendor/gtplib"]
	path = vendor/gtplib
	url = https://github.com/sjtu-ai-go/gtplib.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/sjtu-ai-go/googletest.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
